@model LoginRequestDto

<form method="post">
    <section class="container">
        <div class="row text-center">
            <h1>Login</h1>
        </div>

        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div class="row pb-2">
            <div>
                <input class="form-control" asp-for="UserName" placeholder="Username..." />
            </div>

            <div>
                <input class="form-control" asp-for="Password" placeholder="Password..." />
            </div>
        </div>

        <div class="row">
            <button class="btn btn-info form-control" type="submit">Login</button>
        </div>


    </section>
</form>
