@model Cat

<form>
    <input asp-for="Name" disabled />

    <input asp-for="Age" disabled />

    <img src="@Model.Image" alt="@Model.Name" />

</form>

<a asp-controller="Cat" asp-action="Index">
    Back to Cats
</a>