@model Cat

<form>
    <h1>Are you seriously murdering @Model.Name ?</h1>
    <h2>They're only @Model.Age years old!</h2>

    
    

    <img src="@Model.Image" alt="@Model.Name" />

    

</form>

<a class="btn btn-success" asp-controller="Cat" asp-action="Index">
    Back to Cats
</a>

<a class="btn btn-danger">YES</a>