@model Cat

<form asp-action="CreateForm">
    <div>
        <label>Name</label>
        <input asp-for="Name" />
      
    </div>

    <div>
        <label>Age</label>
        <input asp-for="Age" />
      
    </div>

    <div>
        <label>Image</label>
        <input asp-for="Image" />
        
    </div>

    <div>
        <input type="submit" />
    </div>
</form>

<a asp-controller="Cat" asp-action="Index">
    Back to Cats
</a>