@{
    ViewData["Title"] = "Cat Page";
    @model IEnumerable<Cat>

}


<h1>Cat Page</h1>
<div class="btn btn-dark">
    <a asp-controller="Cat" asp-action="CreateForm" class="text-white">
        Create a new cat
    </a>
</div>

<h2>Click a Cat's name to look at the lil buster</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td><a asp-controller="Cat" asp-action="Details" asp-route-id="@cat.Id">
                    @cat.Name
                </a></td>
                <td> @cat.Age </td>
                <td><a class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

