@{
    ViewData["Title"] = "Cat Page";
    @model IEnumerable<Cat>

}


<h1>Cat Page</h1>
<div class="btn btn-dark">
    <a asp-controller="Cat" asp-action="CreateForm" class="text-white">
        Create a new cat
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>himb!!!!1</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td> @cat.Name </td>
                <td> @cat.Age </td>
                <td><img src="@cat.Image" alt="@cat.Name picture" /></td>
                <td><a class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
