@{
    ViewData["Title"] = "Cat Page";
    @model IEnumerable<Cat>
}


<h1>Cat Page</h1>

@foreach(var cat in Model)
{
    <p> @cat.Name </p>
    <p> @cat.Age </p>
    <img src="@cat.Image" alt="@cat.Name picture" />
}

<div>
    <a asp-controller="Cat" asp-action="CreateForm" class="text-dark">
        Create a new cat
    </a>
</div>